@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&display=swap');
@font-face {
  font-family: "FakeReceipt";
  src: url("../font/FAKERECE.ttf");
}

$yellow: #F5F2E9;
$grey: #7f7f7f;

body {
  background: $yellow;
  margin: 0px;
}

#logo {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin: 0px 0px -15px;

    sup {
      font-size: 17px;
    }
  }

}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  div{
    display: flex;
    flex-direction: row;
  }
  li{
    list-style-type: none;
    transition:0.5s linear all;

    a{
      color:black;
    }
    &:hover{
      transition:0.5s linear all;
      a,svg{
        color:$yellow;
      }
      background: black;
    }
  }
  ul{
    padding: 23px 0px;
    display: flex;
    flex-direction: row;
    margin:0px;
    height:100%;
    li{

      margin-right: 20px;
      margin-left: 20px;
      font-family: "Space Grotesk",sans-serif;
      a{
        color:black;
        text-decoration: none;
      }
    }
  }
  #icons{
    li{
      display: flex;
      align-items: center;
      justify-content: center;
      height:67px;
      width:67px;
      border-left:1px solid black;
      a{
        display: block;

        svg{
          height:35px;
          width:35px;
        }

      }
    }
  }
}

#hero{
  width:90%;
  height:80vh;
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  margin-left: 5%;
  margin-top:50px;
  #slider{
    height:40vh;
    margin-right: 50px;
    ul{
      margin: 0px;
      padding:0px;
      li{
        list-style-type: none;
        padding-bottom: 30px;
        padding-left: 20px;
        border-left:1px solid $grey;
        p{
          margin: 0px;
          color:$grey;
          font-family: 'FakeReceipt', sans-serif;
          font-size: 20px;
        }
      }
      .activated{
        border-left:1px solid black;
        p{
          color:black;
        }
      }
    }
  }
  main{
    width: 85%;
    display: flex;
    flex-direction: row;
    #description{
      position: relative;
      z-index: 2;
      width: 40%;
      height:75vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1{
        margin: 0px;
        font-family: 'FakeReceipt', serif;
        font-size:80px;
        font-weight: bolder;

        line-height: 0.9;
      }
      h2,h3{
        margin: 0px;
        font-family: "Be Vietnam Pro", serif;
        font-weight: normal;
      }
      h2{
        font-size: 30px;
      }
      h3{
        font-size: 20px;
      }
      p{
        font-size:20px;
        font-family: 'Be Vietnam Pro', sans-serif;
        color: $grey;
        font-weight: 300;
        margin: 0px;
      }
    }
    #image{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 1;
      width: 80%;
      height:80vh;
      img{
        width:50%;
      }
    }
  }
  aside{
    width: 20%;
    margin: 0px;
    padding:0px;
    display: flex;
    flex-direction: column;
    h2{
      position: relative;
      z-index:2;
      left:-10px;
      margin: 0px;
      padding:0px;
      font-family: 'FakeReceipt', sans-serif;
    }
    img{

      position: relative;
      z-index:1;
      top:-10px;
      width:70%;
      margin-bottom: 10px;
    }
  }
}

.btn{
  display: block;
  width:fit-content;
  margin-top:10px;
  padding: 10px 50px;
  color:$yellow;
  background: $grey;
  font-family: 'Be Vietnam Pro', sans-serif;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s all linear;
  &:hover{
    color:$grey;
    background: $yellow;
    border: 1px $grey solid;
    transition: 0.5s all linear;

  }
}

#feed{
  margin-top:10px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  div{
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    border-right:solid 1px black;
    box-sizing:border-box;
    width:25%;
    img{
      width:100%;
      border-bottom: solid 1px black;
    }
    .legend{
      width: 100%;
      border:0px;
      padding:10px;
      p{
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: 14px;
        margin:0px;
      }
    }
  }
}

footer{
  background: black;
  color:$yellow;
  width:100%;

  padding: 10px 0 100px;
  p{
    font-family: "Be Vietnam Pro",sans-serif;
    margin-left:50px;
    margin-right:50px;
  }
  a{
    color:$yellow;
    &:hover{
      color:$grey;
    }
  }
}